In [2]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [10]:
bol = df > 0

In [11]:
df[bol]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [12]:
df[df['W']>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [13]:
df[df['W']>0] ['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [15]:
bol = df['W']>0
df2 = df[bol]
df2['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [18]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [19]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [29]:
df.reset_index(drop=True, inplace=True)

In [30]:
col= 'RS RJ SP AM SC'.split()

In [31]:
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [32]:
df['Estado'] = col

In [33]:
df

   level_0 index         W         X         Y         Z Estado
0        0     A  0.302665  1.693723 -1.706086 -1.159119     RS
1        1     B -0.134841  0.390528  0.166905  0.184502     RJ
2        2     C  0.807706  0.072960  0.638787  0.329646     SP
3        3     D -0.497104 -0.754070 -0.943406  0.484752     AM
4        4     E -0.116773  1.901755  0.238127  1.996652     SC

In [39]:
df.set_index('Estado', inplace=True)

In [40]:
df

        level_0 index         W         X         Y         Z
Estado
RS            0     A  0.302665  1.693723 -1.706086 -1.159119
RJ            1     B -0.134841  0.390528  0.166905  0.184502
SP            2     C  0.807706  0.072960  0.638787  0.329646
AM            3     D -0.497104 -0.754070 -0.943406  0.484752
SC            4     E -0.116773  1.901755  0.238127  1.996652