In [3]:
import pandas as pd

In [4]:
# Criar DataFrame
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
        'B':['B0','B1','B2','B3'],
        'C':['C0','C1','C2','C3'],
        'D':['D0','D1','D2','D3']},
        index=[0,1,2,3])

In [5]:
# Criar DataFrame
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
        'B':['B4','B5','B6','B7'],
        'C':['C4','C5','C6','C7'],
        'D':['D4','D5','D6','D7']},
        index=[4,5,6,7])

In [6]:
# Criar DataFrame
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],
        'B':['B8','B9','B10','B11'],
        'C':['C8','C9','C10','C11'],
        'D':['D8','D9','D10','D11']},
        index=[8,9,10,11])

In [7]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [8]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [9]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [11]:
pd.concat([df1,df2,df3]) #Concatena sem definicao, tem que ter o mesmo tamanho no eixo que for unir

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [13]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [14]:
# Criar DataFrame
esquerda = pd.DataFrame({'key':['K0','K1','K2','K3'],
        'A':['A0','A1','A2','A3'],           
        'B':['B0','B1','B2','B3']})
direita = pd.DataFrame({'key':['K0','K1','K2','K3'],
        'C':['C0','C1','C2','C3'],           
        'D':['D0','D1','D2','D3']})

In [15]:
esquerda

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [16]:
direita

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [17]:
pd.merge(esquerda,direita,how='inner', on='key') #unir desde que tenha algum elemento comum neste caso key

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [18]:
# Criar DataFrame
esquerda = pd.DataFrame({'key1':['K0','K1','K2','K3'],
        'key2':['K0','K1','K0','K1'],
        'A':['A0','A1','A2','A3'],           
        'B':['B0','B1','B2','B3']})
direita = pd.DataFrame({'key1':['K0','K1','K2','K3'],
        'key2':['K0','K0','K0','K0'],
        'C':['C0','C1','C2','C3'],           
        'D':['D0','D1','D2','D3']})

In [20]:
pd.merge(esquerda,direita,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K2   K0  A2  B2  C2  D2

In [21]:
pd.merge(esquerda,direita,how='outer',on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K1   K0  NaN  NaN   C1   D1
2   K1   K1   A1   B1  NaN  NaN
3   K2   K0   A2   B2   C2   D2
4   K3   K0  NaN  NaN   C3   D3
5   K3   K1   A3   B3  NaN  NaN

In [22]:
pd.merge(esquerda,direita,how='right',on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0  NaN  NaN  C1  D1
2   K2   K0   A2   B2  C2  D2
3   K3   K0  NaN  NaN  C3  D3

In [23]:
pd.merge(esquerda,direita,how='left',on=['key1','key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K1   K1  A1  B1  NaN  NaN
2   K2   K0  A2  B2   C2   D2
3   K3   K1  A3  B3  NaN  NaN

In [30]:
# Criar DataFrame
esquerda = pd.DataFrame({'A':['A0','A1','A2'],           
        'B':['B0','B1','B2',]},
         index=['K0','K1','K2'])
direita = pd.DataFrame({'C':['C0','C2','C3'],           
        'D':['D0','D2','D3']},
        index=['K0','K2','K3'])

In [31]:
esquerda.join(direita) #juntando dataframes que pode ser que tenham diferencas entre os indices

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [32]:
esquerda.join(direita,how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [33]:
esquerda

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [34]:
direita

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3