In [1]:
import numpy as np
import pandas as pd

<ipython-input-1-59ab05e21164>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
labels = ['a','b','c']

In [3]:
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20,'c':30}

In [4]:
pd.Series(data=minha_lista,index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
series = pd.Series(data=minha_lista, index=labels)

In [6]:
series['b']

20

In [7]:
pd.Series(minha_lista,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
ser1 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'URSS', 'Japão'])

In [13]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,3,4], index = ['Alemanha','EUA', 'Itália', 'Japão'])

In [15]:
ser2

Alemanha    1
EUA         2
Itália      3
Japão       4
dtype: int64

In [16]:
ser1 + ser2

Alemanha    3.0
EUA         3.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64