In [2]:
import numpy as np
import pandas as pd

<ipython-input-2-59ab05e21164>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
# Nivei de Indice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
hier_index = list(zip(outside,inside))

In [9]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns = ['A','B'])

In [15]:
df

             A         B
G1 1 -1.941669 -1.491846
   2 -0.454297 -1.089012
   3  0.623615 -0.773349
G2 1  0.208235  0.323619
   2  1.217405 -0.863088
   3  1.352603  1.052417

In [16]:
df.loc['G1'].loc[1]

A   -1.941669
B   -1.491846
Name: 1, dtype: float64

In [17]:
df.index.names

FrozenList([None, None])

In [18]:
df.index.names = ['Grupo', 'Numero']

In [19]:
df

                     A         B
Grupo Numero
G1    1      -1.941669 -1.491846
      2      -0.454297 -1.089012
      3       0.623615 -0.773349
G2    1       0.208235  0.323619
      2       1.217405 -0.863088
      3       1.352603  1.052417

In [22]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -1.941669 -1.491846
G2     0.208235  0.323619